﻿@model List<Dictionary<string, string>>

@{
    ViewBag.Title = "User";
}

<h2>Products</h2>



@if (Model != null)
{
    foreach (var product in Model)
    {

        <div class="card" style="width: 18rem;">
            <img src="@product["Image"]" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product["Name"]</h5>
                <p class="card-text">Price @product["Price"].</p>
                <a href="#" class="btn btn-primary">Pay</a>
                <a href="#" class="btn btn-primary">Add to Cart</a>

            </div>
        </div>

    }
}
else
{
    <p>No products available!</p>
}